*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --max-width:600px;
    --main-color: #0F2933;
    background: #0F2933;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
textarea{
    outline: none;
}

button{
    transition: .25s;
}